@use 'variables';
@use 'extend';
@use 'mixin';

.about{
    @include mixin.Flex(row, center, justify);
    width: 100%;
    margin-bottom: 3rem;

    .about-content{
        @include mixin.Flex(column);
        text-align: center;
        width: 90%;

        h1{
            @include mixin.Font(700, mixin.color("blue", "base"), 1.0, 2rem);
        }

        .container{
            @extend .containerCards;
            width: calc(100% - 1rem);
            padding: 2rem 0.5rem;
            background-color: mixin.color("blue", "base");

            .card{
                @extend .cardStructure;
                .text-card{
                    margin: 0 0 3rem 0;
                    h2{
                        overflow: hidden;
                        cursor:pointer;
                        i{
                            position: relative;
                            margin-right: 0.5rem;
                        }
                        &:hover i{
                            animation: leftToRight 0.4s;
                            color: mixin.color("red", "light");
                        }
                        @keyframes leftToRight {
                            from{left: -30%;}
                            to{left: 0;}
                        }
                    }
                    p{
                        padding: 0 0.5rem;
                        text-align: left;
                    }
                }
                button{@extend .btn;}   
            }
        }
    }
}