@use 'variables';
@use 'mixin';

.about{
    @include mixin.Flex(row, center, justify);
    width: 100%;
    margin-bottom: 3rem;

    .about-content{
        @include mixin.Flex(column);
        text-align: center;
        width: 90%;

        h1{
            @include mixin.Font(700, mixin.color("blue", "base"), 1.0, 2rem);
        }

        .container{
            @include mixin.Flex(row);
            padding: 2rem 0;
            background-color: mixin.color("blue", "base");

            .card{
                @include mixin.boxShadow(0, 0, 2px);
                padding: 0 0 2.5rem 0;
                margin: 0 1rem;
                width: calc(25% - 2rem);
                background-color: variables.$white-color;
                transition: all 0.2s linear;
                &:hover{@include mixin.boxShadow(0,0,6px)}
                h2{
                    overflow: hidden;
                    cursor:pointer;
                    color: mixin.color("blue", "base");
                    i{
                        position: relative;
                        transition: all 0.4s linear;
                        margin-right: 0.5rem;
                    }
                    &:hover i{
                        animation: leftToRight 0.4s;
                        color: mixin.color("red", "light");
                    }
                    @keyframes leftToRight {
                        from{left: -30%;}
                        to{left: 0;}
                    }
                }
                p{
                    padding: 0 0.5rem;
                    text-align: left;
                }
            }
        }
    }
}