@use "variables";
@use "mixin";

.btn{
    max-width: 15rem;
    padding: 0.7rem 0.2rem;
    background-color: mixin.color("blue", "base");  
    &:hover{background-color: mixin.color("blue", "light");}
}

.containerCards{
    @include mixin.Flex(row, space, justify, between);
    margin: 2rem 0 0 0;
    flex-wrap: wrap;
}

.cardStructure{
    @include mixin.boxShadow(0, 0, 2px);
    @include mixin.Flex(column, space, justify, between);
    width: calc(25% - 1rem);
    height: auto;
    align-items: center;
    padding: 0 0 2rem 0!important;
    margin: 0.5rem;
    border-radius: 0.8rem;
    background-color: variables.$white-color;
    transition: all 0.4s linear;
    &:hover{@include mixin.boxShadow(0,0,8px)}
    
    h2{@include mixin.Font(600, mixin.color("blue", "base"), 1.0, 1.3rem);}
}