@use "variables";

@mixin center ($alignJustify){
    @if $alignJustify == justify{justify-content: center;}
    @else if $alignJustify == align {align-items: center;}
    @else if $alignJustify == alignJustify {
        justify-content: center;
        align-items: center;
    }
}

@mixin space ($space){
    @if $space == around{justify-content: space-around;}
    @else if $space == between{justify-content: space-between;}
    @else if $space == evenly{justify-content: space-evenly;}
}

@mixin Flex ($rowColumn:row, $justify:flex-start, $alignJustify:'', $space:''){
    display: flex;
    @if $rowColumn == column{flex-direction: column}
    @if $justify == center {@include center($alignJustify);}
    @else if $justify == space{@include space($space)}
}

@mixin Font($weight, $color, $opacity, $size:1rem){
    font-family: 'Poppins', sans-serif;
    font-weight: $weight;
    color: rgba($color, $opacity);
    font-size: $size;
}

<<<<<<< HEAD
@mixin boxShadow ($topBottom:0, $left:0, $spread){
=======
@mixin boxShadow ($topBottom, $left, $spread){
>>>>>>> cfeec0bce09bad6bb4144085092f145f7341898e
    padding: $topBottom 0 $topBottom $left;
    -webkit-box-shadow: 0px 4px 8px $spread rgba(0,0,0,0.16); 
    box-shadow: 0px 4px 8px $spread rgba(0,0,0,0.16);
}

@function color ($color, $type){
    @if map-has-key(variables.$principalColors, $color) {
        $curr_color: map-get(variables.$principalColors, $color);
        @if map-has-key($curr_color, $type) {
          @return map-get($curr_color, $type);
        }
    }
}