@use 'variables';
@use 'mixin';

.container{
    max-width: 1500px;
    @include mixin.Font(400, variables.$black-color, 0.7);
}

p{margin: 0.1rem;}
li{list-style: none;}
a{
    color: inherit;
    text-decoration: none;
}

.btn{
    width: 70%;
    cursor: pointer;
    border-radius: 1.4rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: all 0.2s linear;      
    @include mixin.Font(600, variables.$white-color, 1.0, 1.2rem);
}