@use 'mixin';
    .show-top{
        top: 0px!important;
        z-index: 0!important;
        content-visibility: inherit!important;
    }
    .hide{
        display: none!important;
    }
@media (max-width:767px){
    header{
        @include mixin.Flex(row, space, justify, between);
        padding: 2rem;
        width: calc(100% - 4rem);
    }
    header div:not(div:nth-of-type(1)), header .socialMedia{
        display: none;
    }
    header .toggle{display: block;}
    .menu{
        transition: all  0.3s linear;
        position: relative;
        top: -6rem;
        content-visibility: hidden;
        z-index: -1;

        ul{      
            @include mixin.Flex(column);
            li{
                margin: 0 0 0.5rem 0;
            }
        }
    }
    .menu-dropdown{
        position: relative!important;
    }
}
@media (min-width: 768px){
    header .toggle{
        display: none;
    }
}