@use 'variables';
@use 'mixin';
/*Class Menu Responsive*/
.show-top{
    top: 0px!important;
    z-index: 0!important;
    content-visibility: inherit!important;
}
.hide{
    display: none!important;
}

@media (max-width: 992px){
    header{
        padding: 2rem;
        width: calc(100% - 4rem)!important;
    }
    .menu{
        padding: 0 0 0 2rem;
        width: calc(100% - 2rem)!important;
    }
    
    .cards{
        @include mixin.Flex(row, center, justify);
        flex-wrap: wrap;   
        .card{width: 50%!important;}
        .card:nth-of-type(2){border-radius: 0 0.8rem 0.8rem 0;}
        .card:nth-of-type(3){border-radius: 0 0 0.8rem 0.8rem!important;}
    }
    
    .container{
        .card{
            width: calc(50% - 1rem - 2px)!important;
            .card-img{
                height: 12.5rem!important;
                img{height: 12.5rem!important;}
            }
        }
    }
    .about-content .container .card{
        margin: 0.5rem!important;
        width: calc(50% - 1rem)!important;
    }
}

@media (max-width:768px){
    header{
        @include mixin.Flex(row, space, justify, between);
        padding: 2rem;
        width: calc(100% - 4rem);

        div:not(div:nth-of-type(1)), .socialMedia{
            display: none;
        }

        .toggle{display: block;}
    }
    .menu{
        transition: all  0.3s linear;
        position: relative;
        top: -6rem;
        content-visibility: hidden;
        z-index: -1;
        width: calc(100% - 2rem)!important;
        ul{      
            @include mixin.Flex(column);
            width: 100%;
            .list-item{
                margin: 0.5rem 0!important;
                width: calc(100% - 2rem)!important;   
                font-size: 1.3rem;
                .menu-dropdown{
                    background-color: variables.$white-color;
                    position: relative!important;
                    margin-top: 1rem;
                    left: -2rem;
                    width: calc(100% + 4rem)!important;
                    li{
                        width: calc(100% - 2rem)!important;
                        @include mixin.boxShadow(1rem, 2rem,5px);
                    }
                }
            }
            .dropdown{
                position: relative;
                span{
                    display: block;
                    position: absolute;
                    left: 90%;
                    top: 0;
                    color: mixin.color("yellow", "base");
                }
            }
        }
    }
    .banner{height: 400px;}
    .cards{
        width: 100%!important;
        .card:nth-of-type(1){border-radius: 0!important;}
        .card:nth-of-type(2){border-radius: 0!important;}
    }
    .project-content{
        width: 100%!important;
        .container{
            .card{
                margin: 0.5rem 0.25rem!important;
                width: calc(50% - 0.5rem - 2px)!important;
            }
        }
    }
    .about-content{width: 100%!important;}
}

@media (max-width: 577px){  
    .banner{height: 300px;}    
    .cards{
        width: 100%!important;
        @include mixin.Flex(column);
        .card{width: 100%!important;}
        .card:nth-of-type(3){border-radius: 0!important;}
    }
    .project-content{
        width: 100%!important;
        .container{
            .card{
                height: 30rem!important;
                width: calc(100% - 1rem - 2px)!important;
                .card-img{
                    height: 15rem!important;
                    img{height: 15rem!important;}
                }
            }
        }
    }
    .about-content .container {
        @include mixin.Flex(column, center, align);
        .card{
            margin: 0.5rem 0!important;
            width: 80%!important;
        }
    }
}

@media (max-width:319px){
    .banner{display: none;}
    .about-content .container .card{
        width: 100%!important;
    }
    
}